

*{
    

}
body{
    background-color: #4158D0;
background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
font-family: Poppins,sans-serif;

}
h1{
    color: white;
    letter-spacing: .3rem;
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
a:hover{
    color: #FFCC70;
}
#links{
    display: flex;
    
    justify-content: first baseline;
    
}
#header{
    display: flex;
    
    justify-content: space-around;
}
#description{
    font-size: 1.2rem;
}
img{
    border-radius: 40px;
    width: 326px;
    height: 326px;
}
.container{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
h2{
    color: white;
}
#container1{
    width: 300px;
    text-align: justify;
    
}
#description{
    text-align: justify;

    width: 326px;
}